/* タイトル */
/*#welcome {
  width: auto;
  height: auto;
}*/

#unagiWelcome {
  background-color: #c1c10f;
}

#botchmanWelcome {
  background-color: #c42431;
}

#breakbrightblockWelcome {
  background-color: #1466c6;
}

.jumpMenu {
  text-align: right;
  padding: 15px;
  padding-right: 50px;
}

.welcome-jump {
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.welcomeBox {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.welcomeBox-left {
  margin-top: 0px;
}

.welcome-title {
  background-color: white;
  font-size: 80px;
}

.welcome-explain {
  color: white;
  padding-top: 50px;
  width: 560px;
  line-height: 2em;
}

.welcomeBox-right {
  text-align: right;
}

/* 共通 */

.smallTitle {
  font-size: 25px;
}

/* ランキング */

#ranking {
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
}

/* ダウンロード */
#download {
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
}

.help {
  color: gray;
}

#gameDownload {
  display: flex;
  margin-top: 60px;
  margin-bottom: 80px;
}

.download-game {
  text-align: center;
  margin: auto;
}

#download-unagiTitle {
  color: #c42431;
}

#download-botchmanTitle {
  color: #c1c10f;
}

#download-breakbrightblockTitle {
  color: #1466c6;
}

.download-gameTitle {
  font-size: 20px;
}

.download-gameExplain {
  width: 230px;
  text-align: left;
  margin: auto;
  margin-top: 10px;
}

.download-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

/* プレビュー */

#preview {
  padding-left: 80px;
  padding-right: 80px;
}

.previewBox {
  display: flex;
}

.preview-game {
  margin: auto;
}
